*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(90, 0, 126);
}

section {
    flex-grow: 1;
    display:none;
}

#home{
    
    background-color: aquamarine;
    display: block;
    min-height: 100vh;
}

#home >h1{
    font-size: 80px;
    color: rgb(18, 36, 197);
    display:flex;
    align-items: center;
    justify-content: center;
}

#about{
    background-color: brown;
    min-height: 100vh;
}

#about > img{
    height: 200px;
}
footer{
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
}
footer > a{
    text-decoration: none;
    color: white;
}
