*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: rgb(237, 192, 255);
    display: grid;
    grid-template-rows: .3fr 9fr;
}
/* ---------------------------- */
/*            Header            */
/* ---------------------------- */
nav{
    display: flex;
    justify-content:space-between;
}
.left-button{
    margin-left: 20px;
    display: flex;
    flex:1;
}
.right-buttons{
    display: flex;
    flex:1;
    justify-content: flex-end;
}
.navButton{
    margin-right:20px;
}

/* ---------------------------- */
/*            Pages             */
/* ---------------------------- */
section {
    display:none;
}
/* --------------- */
/*    Home Page    */
/* --------------- */
#home{
    background-color: aquamarine;
    display: block;
}

#home >h1{
    font-size: 80px;
    color: rgb(18, 36, 197);
    display:flex;
    align-items: center;
    justify-content: center;
}

/* --------------- */
/*    About Page   */
/* --------------- */
#about{
    background-color: brown;
}

#about > img{
    display: block;
    height: 200px;
    margin: 0 auto;
}

/* --------------- */
/*   Resume Page   */
/* --------------- */
#resume > img{
    display: block;
    height: 200px;
    margin: 0 auto;
}
/* --------------- */
/*  Projects Page  */
/* --------------- */

/* ---------------------------- */
/*            Footer            */
/* ---------------------------- */
footer{
    width: 100vw;
    background-color: black;
    position: absolute;
    bottom: 0;
}
footer > a{
    text-decoration: none;
    color: white;
}
